doctype html
html
    head
        script(src="vendor/bower_components/jquery/dist/jquery.min.js")
        link(rel="stylesheet", href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css")
        block title
            title "Welcome to Chat!"
    body
        .container.info
            include ./header.jade
            block content